@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.input {
  @apply h-[60px] outline-none pl-6 w-full text-[15px] rounded-sm focus:outline focus:outline-1 focus:outline-teal-600 bg-gray-100 dark:bg-gray-800;
}

.textarea {
  @apply resize-none w-full outline-none p-6 rounded-sm h-[200px] focus:outline focus:outline-1 focus:outline-teal-600 bg-gray-100 dark:bg-gray-800;
}
.button {
  @apply hover:outline hover:outline-1 hover:outline-teal-600 hover:bg-gradient-to-r hover:from-white hover:to-white dark:hover:bg-gradient-to-r dark:hover:from-gray-900 dark:hover:to-gray-900 hover:text-teal-600 duration-300;
}

